@model Electronics.Models.Testimonial

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Testimonial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Web)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Web.WebId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TestimonialsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
