@model IEnumerable<Electronics.Models.Order>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

       <style>
 .table thead tr th {
    font-size: 1.063rem;
    font-weight: bold;
}
.btn.btn-outline-secondary {
    color: #ffffff;
    background-color: #6b6b6b;
    border-color: #6b6b6b;
}
.form-control {
    display: block;
    width: 119%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
</style>
</head>
  <div class="col-md-12">
           <h4>Serach Between Date</h4>
            <form asp-action="SearchBetweenDate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
            <label class="control-label" style="font-weight: bold; color: #6b6b6b;">Date from</label>
            <div class="col-lg-3">
            <input for="dateFrom" class="form-control" type="date" name="datefrom" id="datefrom" />
            </div>
            </div>
                <div class="form-group">
                <label class="control-label" style="font-weight: bold; color: #6b6b6b;">Date to</label>
                <div  class="col-lg-3">
                <input for="dateTo" class="form-control" type="date" name="dateto" id="dateto" />
                </div>
                </div>
                    <div class="form-group">
                  @*  <input type="submit" value="Search" />*@
                   
                     <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                        </form>
                        <div class="card-block table-border-style">
                        <div class="table-responsive">
                        <table class="table table-hover" id="tableData">
                        <thead>
                        <tr>
                        <th>Order Date</th>
                        <th>Quntity</th>
                        <th>Total Price</th>
                        <th>Status</th>
                       @* <th>User ID</th>*@
                        </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                              {
                               @foreach (var item in Model)
                              {
                                <tr>
                                <td >
                                @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.Quntity)
                                </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.TotalAmount)
                                </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                @*<td>
                                @Html.DisplayFor(modelItem => item.User.UserId)
                                </td>*@
                                </tr>
                              }
                             }
                     </tbody>
                   </table>
                </div>
              </div>
            </div>
          